<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rightmove Web Test Suite" thread-count="2"
	parallel="methods">
	<suite-files>
		<suite-file path="src/main/resources/testng.xml" />
	</suite-files>
	<listeners>
		<listener
			class-name="uk.co.rightmove.ExtentReportListener.ExtentReporterNG"></listener>
	</listeners>
	<test name="Rigtmove rental properties">
		<parameter name="url" value="https://rightmove.co.uk"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="uk.co.rightmove.tests.SearchPropertyForRentTest"></class>
		</classes>
	</test> 
	<test name="Rigtmove selling properties">
		<parameter name="url" value="https://rightmove.co.uk"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="uk.co.rightmove.tests.SearchPropertyForSaleTest"></class>
		</classes>
	</test>
</suite>